@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?no7xld');
    src:  url('../fonts/icomoon.eot?no7xld#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?no7xld') format('truetype'),
      url('../fonts/icomoon.woff?no7xld') format('woff'),
      url('../fonts/icomoon.svg?no7xld#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1.5rem;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-Warning_outline:before {
    content: "\e90b";
  }
  .icon-Warning_fill:before {
    content: "\e90c";
  }
  .icon-Save_fill:before {
    content: "\e909";
  }
  .icon-Save_outline:before {
    content: "\e90a";
  }
  .icon-Clear_outline:before {
    content: "\e920";
  }
  .icon-Clear_fill:before {
    content: "\e921";
  }
  .icon-Add:before {
    content: "\e900";
  }
  .icon-Edit:before {
    content: "\e901";
  }
  .icon-Filter:before {
    content: "\e902";
  }
  .icon-Sort:before {
    content: "\e903";
  }
  .icon-Logout:before {
    content: "\e904";
  }
  .icon-Down:before {
    content: "\e905";
  }
  .icon-Left:before {
    content: "\e906";
  }
  .icon-Right:before {
    content: "\e907";
  }
  .icon-Up:before {
    content: "\e908";
  }
  .icon-Radio_checked:before {
    content: "\e90d";
  }
  .icon-Radio_unchecked:before {
    content: "\e90e";
  }
  .icon-Profile_fill:before {
    content: "\e90f";
  }
  .icon-Profile_outline:before {
    content: "\e910";
  }
  .icon-Calendar:before {
    content: "\e911";
  }
  .icon-Dashboard:before {
    content: "\e912";
  }
  .icon-Message:before {
    content: "\e913";
  }
  .icon-Notifications:before {
    content: "\e914";
  }
  .icon-Patient:before {
    content: "\e915";
  }
  .icon-Prescriptions:before {
    content: "\e916";
  }
  .icon-Vet:before {
    content: "\e917";
  }
  .icon-Settings_filled:before {
    content: "\e918";
  }
  .icon-Settings_outline:before {
    content: "\e919";
  }
  .icon-Help_fill:before {
    content: "\e91a";
  }
  .icon-Help_outline:before {
    content: "\e91b";
  }
  .icon-Female:before {
    content: "\e91c";
    color: #9e0015;
  }
  .icon-Male:before {
    content: "\e91d";
    color: #003bc4;
  }
  .icon-Folder_fill:before {
    content: "\e91e";
  }
  .icon-Folder_outline:before {
    content: "\e91f";
  }
  .icon-Checkcircle_fill:before {
    content: "\e922";
  }
  .icon-Checkcircle_outline:before {
    content: "\e923";
  }
  .icon-Checkbox_checked:before {
    content: "\e924";
  }
  .icon-Checkbox_unchecked1:before {
    content: "\e925";
  }
  

