.sidebar {
    position: fixed;
    
    flex: 0 0 15rem;
    min-height: 100%;
    
    z-index: 1;
    padding: 0.75rem 1.25rem;
    background-color: #6750A4;
    overflow-x: hidden;
    padding-top: 1.25rem;
    background: #6750A4;
    box-shadow: 0.25rem,0.25rem,1rem, 0.56rem,  rgba(239, 239, 239, 0.40);
    flex-direction: column; 
    align-items: center;

}

.sidebar .logobox  {
    display: flex;
    width: 12.5rem;
    padding: 0.5rem;
    align-items: center;
    gap: 0.75rem;
    margin-left: 0.5rem;

}

.sidebar .logobox img {
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6.25rem;
    background: #FFF;
}

.sidebar .logobox h3 {
    color: #FFF;
    /* title/bold */
    font-family: Roboto;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 127.273% */
}

.sidebar .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;
    margin-left: .5rem;
}

.sidebar .navigation .link-style {
    text-decoration: none;
}



.sidebar .navigation .link-style div {
    color: #FFFFFF;
    display: flex;
    width: 12.5rem;
    padding: 0.75rem;
    align-items: center;
    gap: 1rem;
    border-radius: 0.25rem;
}

.sidebar .navigation .link-style div:hover {
    background: #E9DDFF;
}

.sidebar .navigation .link-style.active div {
    color: #322015 !important;
    background: #FAF9FC;
}


.sidebar .logout {
    position: absolute;
    bottom: 1rem;
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 12.5rem;
    padding: 0.75rem;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    border-radius: 0.25rem;

    color: #fff;

    /* body/primary/regular */
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.03125rem;

}

.sidebar .logout .icon-Logout {
    font-size: 1.5rem;
}

