.dashboardContent {
    margin: .625rem 1.0156rem;
    display: flex;
    flex: 1;
}

.dashboardContent .dashboardContent__header {
    /* display: flex;
    padding: 1.5rem 2rem;
    align-items: center;
    gap: 1rem; */

    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.dashboardContent .dashboardContent__header .naviInfo {
    color: #332D41;
    /* label/secondary/regular */
    font-family: Roboto;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.03125rem;
}

.dashboardContent .dashboardContent__header .headName {
    color: #1C1B1E;

    /* headline/h6/bold */
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem; /* 133.333% */
}