.settings-main {
  display: flex;
  flex-direction: row;

  width: 75vw;
  height: 792px;
  flex-shrink: 0;

  border-radius: 8px;
  background: #fff;

  box-shadow: .25rem .25rem 1rem .5625rem rgba(239, 239, 239, 0.25);
}

.settings-main .second-nav-bar {
  display: flex;
  flex-direction: column;

  width: 15vw;
  /* height: 100%; */

  border-radius: 8px 0 0 8px;
  background: #fff;
  border-right: #eaeaea .0625rem solid;

  padding-top: 20px;
}

.settings-main .second-nav-bar .second-nav-bar-item {
  display: flex;
  width: 100% - 3vw;
  height: 3vw;
  padding: 0.5vw 1.5vw;
  align-items: center;
  gap: 0.625vw;
}

.settings-main .second-nav-bar .second-nav-bar-item:hover {
  background: var(--background-hoverbg, #f0eef6);
}

.settings-main .maincontent {
  display: flex;
  flex-direction: column;

  width: 60vw;

  padding: 32px 24px;
}

.settings-main .maincontent .maincontent-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 24px;

  color: var(--font-primary, #1c1b1e);
  /* title/medium */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 127.273% */
}

.settings-main .maincontent .maincontent-title .edit-button {
  display: flex;
  padding: 10px 24px 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  align-self: stretch;

  background-color: #6750a4;

  color: var(--m-3-sys-light-on-primary, #fff);
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: .1px;
}

.settings-main .maincontent .header {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  padding: 1.5vh 0;
}

.settings-main .maincontent .header .avatar {
  display: flex;
  width: 100px;
  height: 100px;
  padding: 6px;
  margin-right: 2vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 100px;
  border: .0625rem solid #7a757f;

  background: #eaddff;

  color: #21005d;

  text-align: center;
  /* headline/h2/regular */
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 115.556% */
}

.settings-main .maincontent .header .head-info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.settings-main .maincontent .header .head-info .head-name {
  color: var(--font-primary, #1c1b1e);

  /* body/primary/bold */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: .5px;
}

.settings-main .maincontent .header .head-info .pet-owner {
  color: var(--font-medium-dark, #5f6377);
  /* label/primary/regular */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: .5px;
}

.settings-main .maincontent .header .head-info .pet-owner-name {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--font-primary, #1c1b1e);
  /* label/primary/regular */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: .5px;
}

/* 选第二个盒子 */

.settings-main .maincontent .header .head-info .pet-owner-name-item2 {
  /* be a div box */

  padding-left: 3.2px;
}

.settings-main .maincontent .main-info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  padding: 1.5vh 0;
}

.settings-main .maincontent .main-info .personalinfo {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 1.5vh 0 1.5vh 0;
  border: .0625rem solid #EAEAEA;
  border-left: none;
  border-right: none;
}

.settings-main .maincontent .main-info .personalinfo .personalinfo-title {
  padding-bottom: 1vh;
  color: var(--font-primary, #1c1b1e);
  /* body/primary/medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: .5px;
}

.settings-main .maincontent .main-info .personalinfo .personalinfo-items-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.settings-main
  .maincontent
  .main-info
  .personalinfo
  .personalinfo-items-list
  .personalinfo-item {
  display: flex;
  flex-direction: column;
  width: 24vw;
  
}

.settings-main
  .maincontent
  .main-info
  .personalinfo
  .personalinfo-items-list
  .personalinfo-item
  .personalinfo-item-title {
  padding-bottom: 1vh;

  color: var(--font-medium-dark, #5f6377);
  /* body/Secondary/regular */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: .2501px;
}



.settings-main .maincontent .main-info .addressinfo {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    padding: 0 0 1.5vh 0;
    border-left: none;
    border-right: none;
  }


.settings-main .maincontent .main-info .addressinfo .addressinfo-title {
    padding-bottom: 1vh;
    color: var(--font-primary, #1c1b1e);
    /* body/primary/medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: .5px;
  }
  
  .settings-main .maincontent .main-info .addressinfo .addressinfo-items-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  
  .settings-main
    .maincontent
    .main-info
    .addressinfo
    .addressinfo-items-list
    .addressinfo-item {
    display: flex;
    flex-direction: column;
    width: 24vw;
    
  }

  .settings-main
    .maincontent
    .main-info
    .addressinfo
    .addressinfo-items-list
    .addressinfo-item.mail {
    display: flex;
    flex-direction: column;
    width: 50vw;
    
  }

  .settings-main
  .maincontent
  .main-info
  .addressinfo
  .addressinfo-items-list
  .addressinfo-item.billingAd {
  display: flex;
  flex-direction: column;
  width: 50vw;
  
}
  
  .settings-main
    .maincontent
    .main-info
    .addressinfo
    .addressinfo-items-list
    .addressinfo-item
    .addressinfo-item-title {
    padding-bottom: 1vh;
  
    color: var(--font-medium-dark, #5f6377);
    /* body/Secondary/regular */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: .2501px;
  }