.dashboardContent {
  margin: 0.625rem 1.0156rem;
  display: flex;
  flex: 1;
}

.dashboardContent .dashboardContent__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: 1.25rem;
  margin-right: 1.5rem;
}

.dashboardContent .dashboardContent__main div {
  background-color: var(--Secondary-Primary-White, #fff);
  border-radius: 1.25rem;
}

.dbc_review {
  display: flex;
  flex-direction: column;
  width: 49.375rem;
  max-height: 21.5625rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--Secondary-Primary-White, #fff);
  max-width: 49.375rem;
  /* return to rem */
  padding: 1.875rem 1.75rem 1.875rem 2.4375rem;
}

.dbc_calendar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 21.875rem;
  height: 21.5625rem;
  margin-bottom: 1rem;
  max-width: 21.875rem; /* 350px / 16px */
  flex-direction: column;
  padding: 2rem 1.5rem; /* 32px 24px / 16px */
}

.dbc_graph {
  width: 49.375rem;
  height: 21.5625rem;
  margin-right: 1.5rem;
  padding: 1.875rem 1.75rem 1.875rem 2.4375rem;
}

.dbc_pets {
  width: 21.875rem;
  height: 14.25rem;
  flex-shrink: 0;
  padding: 1.5rem;
}

.div-2 {
  gap: 1.25rem;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 58%;
  margin-left: 0rem;
}

.div-3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto 0;
}

.div-4 {
  justify-content: center;
  color: var(--Secondary-Dark-Grey-900, #1b2559);
  align-self: stretch;
  font: 700 2.25rem/2.75rem Roboto, sans-serif;
}

.div-5 {
  color: var(--Secondary-Grey-600, #a3aed0);
  letter-spacing: 0.0313rem;
  align-self: stretch;
  margin-top: 1.75rem;
  font: 400 1rem/1.5rem Roboto, sans-serif;
}

.div-6 {
  display: inline-flex;
  height: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  background: var(--Brand-Color-Primary, #6750a4);

  color: var(--Background-White, #fff);
  text-align: center;
  /* body/Secondary/regular */
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.01563rem;
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 42%;
  margin-left: 1.25rem;
}

.img {
  aspect-ratio: 1.02;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}

.date {
  color: var(--Secondary-Dark-Grey-900, #1b2559);
  /* headline/h5/bold */
  font-family: Roboto;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem; /* 128.571% */
  margin-bottom: 2rem;
}

.appointment-container {
  align-self: stretch;
  display: flex;
  margin-bottom: 1.6875rem; /* 43px / 16px */
  justify-content: space-between;
  gap: 0.625rem; /* 10px / 16px */
  width: 11rem;
  height: 2.5625rem;
  flex-shrink: 0;
}

/* 在盒子左邊畫條綫 */
.appointment-container::before {
  content: '';
  width: 0.25rem;
  height: 2.5rem;
  background-color: var(--Secondary-Grey-300, #6750a4);
  flex-shrink: 0;
}

.appointment {
  align-self: start;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}

.dbc_calendar_title {
  color: var(--Secondary-Dark-Grey-900, #1b2559);
  /* body/primary/regular */
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.03125rem;
}

.time {
  color: var(--Secondary-Grey-600, #a3aed0);
  letter-spacing: 0.03125rem; /* 0.5px / 16px */
  /* 7px / 16px */
  font: 400 0.75rem/1.11rem Roboto, sans-serif; /* 12px / 16px */
}

.view-appointments {
  position: absolute;
  bottom: 2.5rem;
  right: 1.5rem;
  margin-top: 1.5625rem; /* 25px / 16px */
  align-items: center;
  gap: 0.25rem; /* 4px / 16px */
  width: 12.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.view-appointments-link {
  color: var(--Brand-Color-Primary, #6750a4);
  text-align: right;
  letter-spacing: 0.03125rem; /* 0.5px / 16px */
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 700 1rem/1.5 Roboto, sans-serif; /* 16px / 16px */
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.pets-header {
  color: var(--Secondary-Dark-Grey-900, #1b2559);
  /* headline/h5/bold */
  font-family: Roboto;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem; /* 128.571% */
    margin-bottom: 2.0rem;
}

.pet-container {
  display: flex;
  margin-bottom: 1.5rem; /* 40px / 16px */
  justify-content: space-between;
  /* 11px / 16px */
}

.pet-image-left {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 2.5rem; /* 40px / 16px */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}

.pet-info-right {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pet-info {
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.7rem;
}

.pet-name {
  color: var(--Secondary-Dark-Grey-900, #1b2559);
  letter-spacing: 0.15625rem; /* 0.25px / 16px */
  white-space: nowrap;
  font: 500 0.875rem/1.43 Roboto, sans-serif; /* 14px / 16px */
  margin-bottom: 0.25rem; /* 4px / 16px */
}

.pet-age {
  color: var(--Secondary-Grey-600, #a3aed0);
  letter-spacing: 0.03125rem; /* 0.5px / 16px */
  white-space: nowrap;
  font: 400 0.75rem/1.33 Roboto, sans-serif; /* 12px / 16px */
}

.pet-type {
  display: flex;
  padding: 0.4375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.4375rem;
  background: var(--Background-Primary, #fdf8fd) !important;

  color: var(--Brand-Color-Primary, #6750a4);
  text-align: center;
  /* Body Text/ Small/ Bold */
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: -0.0175rem;
}
