.show-pets-detail {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;

  height: 100%;
  justify-content: start;
}

.show-pets-detail .add-pet-button-box {
  position: absolute;
  top: -5.25rem;
  right: 2rem;
}

.pet-detail {
  width: 13.5rem;
  height: 17rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.62rem 3.5rem 1.5rem 3.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background: #fff;

  box-shadow: 0.25rem 0.25rem 1rem 0.5625rem rgba(239, 239, 239, 0.25);
}

.pet-detail-inner {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pet-detail img {
  width: 6.5rem;
  height: 6.50006rem;
}



.name-species {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;
}

.petName {
  color: var(--font-medium-dark, #5f6377);
  text-align: center;
  /* title/bold */
  font-family: Roboto;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 127.273% */
}

.petSpecies {
  color: var(--font-soft-grey, #938f94);
  /* body/Secondary/regular */
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.01563rem;
}

.gender-age-weight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  margin-top: 1rem;
}

.gender-age {
  color: var(--font-medium-dark, #5f6377);
  text-align: center;
  /* label/primary/medium */
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 133.333% */
  letter-spacing: 0.03125rem;
}

.petWeight {
  color: var(--font-medium-dark, #5f6377);
  text-align: center;
  /* label/primary/medium */
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 133.333% */
  letter-spacing: 0.03125rem;
  
}
