.main {
    display: flex;
    min-height: 100vh;
    background: #FAFAFB;
}


.right-content {
    display: flex;
    flex-direction: column;
    
    flex: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1.25rem;
}
