.addpet-details {
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 16px 9px rgba(239, 239, 239, 0.25);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.5rem 1.5rem;
}
@media (max-width: 991px) {
  .addpet-details {
    padding: 0 20px;
  }
}
.Avatar {
  display: flex;
  margin-top: 32px;
  width: 299px;
  max-width: 100%;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .Avatar {
    justify-content: center;
  }
}
.avatar-img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100px;
  overflow: hidden;
  max-width: 100%;
}
.avatar-change {
  color: var(--link-link, #207fe4);
  letter-spacing: 0.25px;
  align-self: center;
  margin: auto 0;
  font: 400 14px/20px Roboto, sans-serif;
}
.avatar-remove {
  color: var(--danger-primary, #e34739);
  letter-spacing: 0.25px;
  align-self: center;
  white-space: nowrap;
  margin: auto 0;
  font: 400 14px/20px Roboto, sans-serif;
}
@media (max-width: 991px) {
  .avatar-remove {
    white-space: initial;
  }
}

.formbox {
  width: 100%;
}

.create-button {
  position: absolute;
  top: -3.5rem;
  right: 1.5rem;
}

